.icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  top: 5px;
  position: relative;
}
.icon-delete{
  background-image: url(../icons/trash/16.png);
  height: 20px;
}
.icon-refresh{
  background-image: url(../icons/refresh/16.png);
  width: 23px;
  height: 23px;
}
.icon-reply{
  background-image: url(../icons/reply.png);
  width: 20px;
}
.icon-forward{
  background-image: url(../icons/forward.png);
  width: 20px;
}
.icon-edit{
  background-image: url(../icons/edit/16.png);
}
.icon-view{
  width: 19px;
  background-image: url(../icons/view.png);
}
.icon-calendar{
  background-image: url(../icons/calendar.png);
}
.icon-close{
  background-image: url(../icons/close/16.png);
  width: 18px;
  height: 18px;
}